{% extends 'base.html' %}

{% block title %}Upload Image{% endblock title %}
{% block content %}
<h4>Upload Image</h4>
<form action="#" method="POST" enctype="multipart/form-data">
    {{ form.hidden_tag() }}
    <div class="mb-3">
        {{ form.image.label(class="form-label") }}
        {{ form.image(class="form-control") }}
          {% if form.image.errors %}
            <ul class=errors>
            {% for error in form.image.errors %}
              <li class="alert text-danger">{{ error }}</li>
            {% endfor %}
            </ul>
          {% endif %}
      </div>
      <div class="mb-3">
        {{ form.submit(class="btn btn-primary") }}
    </div>
</form>
<hr>
<h3>Images Gallery</h3>


<section class="gallery min-vh-100">
  <div class="container-lg">
     <div class="row gy-4 row-cols-1 row-cols-sm-2 row-cols-md-3">
      {% for image in user['uploaded_images'] %}
        <div class="col">
          <img src="/static/images/{{image['name']}}" class="gallery-item" alt="gallery">
        </div>
      {% endfor %}
     </div>
  </div>
</section>

<div class="modal fade" id="gallery-modal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <a type="button" id="download-btn" class="btn btn-primary">Download</a>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
         <img src="" class="modal-img" alt="modal img">
      </div>
    </div>
  </div>
</div>

<script>
  document.addEventListener("click",function (e){
    if(e.target.classList.contains("gallery-item")){
        const src = e.target.getAttribute("src");
        document.querySelector(".modal-img").src = src;
        document.querySelector("#download-btn").setAttribute("href",src)
        document.querySelector("#download-btn").setAttribute("download",src)
        const myModal = new bootstrap.Modal(document.getElementById('gallery-modal'));
        myModal.show();
    }
  })  
</script

{% endblock content %}